<% include head %>
<ul class="navbar navbar-dark bg-dark justify-content-end fixed-top">
    <ol class="nav-item">
        <a class="nav-link nav-link2" href="/">Home</a>
    </ol>
    <ol class="nav-item">
        <a class="nav-link" href="/post/make-data">Posts</a>
    </ol>
    <ol class="nav-item">
        <a class="nav-link" href="/login">Login</a>
    </ol>
</ul>
<br /> <br /> <br />  <br />