<!doctype html>
<html>
<% include shared/head %>
<% include shared/nav %>
<body>
    <div class="container">
        <div class="row">
            <div class="col-md-4 offset-md-4">
                <h1 class="text-center">Login</h1>                    
                <form>
                    <div class="form-group">
                        <label>Email address</label>
                        <input type="email" class="form-control"  placeholder="Enter email">
                    </div>
                    <div class="form-group">
                        <label>Password</label>
                        <input type="password" class="form-control" placeholder="Password">
                    </div>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
            </div>
        </div>
    </div>
</body>

<% include shared/footer %>

</html>