<!doctype html>
<html>
<% include shared/head %>
<% include shared/nav %>
    <body>
        <div class="container">
            <div class="row">
                <div class="col-md-4 offset-md-4">               
                    <img src="/public/tile-developer.svg" />
                    <h3 class="text-center">No content here!</h3>
                </div>
            </div>
          </div>
    </body>
<% include shared/footer %>
</html>