<!doctype html>
<html>
<% include shared/head %>
<% include shared/nav %>
<body>
    <div class="container">
        <div class="jumbotron">
            <h1><%= post.bigTitle %> 
                <span class="badge badge-secondary"><%= post.smallTitle %></span>
            </h1>
            <p class="lead"><%= post.about %></p>                
            <hr class="my-4">
            <p><%= post.fullText %></p>
        </div>
    </div>
</body>
<% include shared/footer %>
</html>